<?xml version="1.0" encoding="UTF-8"?>
<configuration>	
  	<property resource="application.yml" />  	
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">        
            <Pattern>
                |%.-1level| [%thread] %20.30logger{30}| %msg%n
            </Pattern>        
       </encoder>
    </appender>

    <logger name="org.opengroup.osdu" level="${LOG_LEVEL}" additivity='false'>
        <appender-ref ref="STDOUT"/>
    </logger>
    
    <!-- as logging level for below packages in sync with root level hence commented -->
    <!-- <logger name="org.springframework.security" level="info" additivity='false'>
        <appender-ref ref="STDOUT"/>
    </logger>    
    
    <logger name="org.springframework.web.servlet" level="info" additivity='false'>
        <appender-ref ref="STDOUT"/>
    </logger>
    
    <logger name="org.apache.http" level="info" additivity='false'>
        <appender-ref ref="STDOUT"/>
    </logger> -->
    
    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>